.card {
  position: relative;
  margin: 0px auto;
  padding: 20px;
  max-width: 800px;
  border: 1px solid #623412;
  border-radius: 5px;
  background-color: #deb887;
}

.card-body {
  margin-bottom: 20px;
}

.card-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.card-subtitle {
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.card-text {
  font-size: 14px;
}

.comments {
  margin: 0px auto;
  width: 100%;
  max-width: 700px;
}

.comment {
  margin: 10px;
}

.edit-post {
  margin-top: 20px;
}

.post-topics {
  display: flex;
}

.topic {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #623412;
  border-radius: 5px;
  background-color: #deb887;
}